*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Compiled documentation
docs/_build/*

# Old mercurial files
.hg

# OS-specific
.DS_Store
.directory

# Editors
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.kate-swp
.vscode

# IDE
.idea/*
*.iml

# IPython
*.ipynb_checkpoints

# Data
data/raw/*.fits.gz
data/raw/*.sha256sum
data/raw/md5sums.txt
data/im_cache/legacysurvey*
data/catalogue_cache/*.fits
data/idata
data/*

# Assorted
notes.txt
.env
reports/figures/examples*
